<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <h2>Calculator</h2>

    <form method="post">
        <input type="number" name="a" placeholder="Pierwsza liczba" />
        <input type="number" name="b" placeholder="Druga liczba" />
        <select name="operation">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <button type="submit">Calculate</button>
    </form>

{% if error %}
<h3 style="color: red;">{{ error }}</h3>
{% endif %}
{% if result %}
<h3>Result: {{ result }}</h3>
{% endif %}    
</body>
</html>